{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "root": true,
  "rules": {
    "@typescript-eslint/no-non-null-assertion": "off"
  },
  "ignorePatterns": [
    "node_modules",
    "dist",
    "coverage",
    "tailwind.config.cjs",
    "postcss.config.cjs"
  ]
}
